.oxygen-bg-2 {
    background-image: url('../assets/oxygen/bubbles.jpg');
}

.oxygen-bg-1 {
    background-image: url('../assets/oxygen/diving.jpg');
}

.oxygen-bg-3 {
    background-image: url('../assets/oxygen/o2.jpg');
    background-position: top right !important;
}