<section layout="row" class="section-bg oxygen-bg-3">
    <div layout="column" flex layout-align="center center" class="mesh">
        <div layout="column" flex layout-align="center center" class="overlay">
            <div layout="column" flex layout-align="center center">
                <div layout="row" class="section-title">
                    Terapia<span class="oxygen">TLENOWA</span>
                </div>
            </div>
            <bfb-smooth-scroller title="przewiń" target="#oxygen"></bfb-smooth-scroller>
        </div>
    </div>
</section>
<section id="oxygen" class="text-content" layout="column">
    <text-content ng-repeat="textContentItem in ctrl.sections.oxygen.items" item="textContentItem" is-alternate="$index % 2 === 1">
    </text-content>
</section>

<section layout="row" class="section-bg subsection-bg oxygen-bg-1">
    <div layout="column" flex layout-align="center center" class="mesh">
        <div layout="column" flex layout-align="center center" class="overlay">
            <div layout="row" class="section-title">
                CZYM JEST TLENOTERAPIA?
            </div>
        </div>
    </div>
</section>
<section class="text-content" layout="column">
    <text-content ng-repeat="textContentItem in ctrl.sections.about.items" item="textContentItem" is-alternate="$index % 2 === 1">
    </text-content>
</section>

<section layout="row" class="section-bg subsection-bg oxygen-bg-2">
    <div layout="column" flex layout-align="center center" class="mesh">
        <div layout="column" flex layout-align="center center" class="overlay">
            <div layout="row" class="section-title">
                KORZYŚCI
            </div>
        </div>
    </div>
</section>
<section class="text-content" layout="row" layout-align="center">
    <div layout="row" flex-xs="90" flex-sm="70" flex-gt-sm="60">
        <div layout="column" layout-padding>
            <div>
                W wyniku wieloletnich badań udowodniono, iż tlenoterapia:
            </div>
            <div layout="row" layout-align="start" ng-repeat="item in ctrl.oxygenApplication" class="oxygen-application-item">
                <img class="icon" ng-src="assets/icons/done.svg" />
                <div class="md-body-1">{{ item }}</div>
            </div>
        </div>
    </div>
</section>
<bfb-footer></bfb-footer>