bfb-footer {
    .footer {
        padding: 5px;
    }

    .copyright-note {
        font-size: 16px;
    }

    .social, .powered-by {
        a {
            margin-left: 5px;
        }

        font-size: 12px;
    }
}