<div flex="grow" layout-xs="column" layout-gt-xs="row" layout-align-gt-xs="space-between" md-colors="{background: 'default-accent-900'}" class="footer">
    <div flex-order-xs="2" layout="row" layout-align="center center" class="copyright-note">
        <div>
            &copy; {{ $ctrl.currentYear }} <span class="bio">BIO</span><span class="feedback">feedback</span> Mysłowice
        </div>
    </div>
    <div flex-order-xs="0" layout="row" layout-align="center center" class="powered-by">
        <div>
            Powered by
        </div>
        <a href="https://www.angularjs.org" target="_blank">
            <img width="117" src="assets/angularjs-logo.svg" />
        </a>
    </div>
    <div flex-order-xs="1" layout="row" layout-align="center center" class="social">
        <div>
            Coded by
        </div>
        <a href="https://linkedin.com/in/bjendyk" target="_blank">
            <img width="36" height="36" src="assets/social/linkedin.svg" />
        </a>
        <a href="https://twitter.com/bjendyk" target="_blank">
            <img width="36" height="36" src="assets/social/twitter.svg" />
        </a>
    </div>
</div>