bfb-smooth-scroller {
    img:first-of-type {
        margin-right: 5px;
    }

    img:last-of-type {
        margin-left: 5px;
    }

    a, a:visited, a:active, a:hover {
        color: white;
    }
}